/* special CSS for the wp_fotorama_elevation */

/*------------- fotorama -----------------------*/
.fm-attach-link {
    margin-bottom: 10px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 6px;
    padding-bottom: 3px;
    color: white;
    box-shadow: 1px 3px 14px 0px rgb(0 0 0 / 68%);
    background: #22222285;
    border-radius: 4px;
}
/*
@media screen and (max-width: 574px) {
  .fm-attach-link {
    display: none !important
  }
} 
*/
.fotorama__nav__shaft {
  margin-bottom: 2px;
}
.fotorama  { 
  border-top: 1px solid lightslategray; 
  padding: 5px 5px 0 5px; 
  /*background-color: rgba(255, 255, 255, 0.829);*/
}
.fotorama__stage {
  -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68); 
  box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68);
  margin-bottom: 5px;
  background-color: lightgray
}
.fotorama__caption__wrap {
  text-decoration: none;
  color: white;
  z-index: 2;
  position: absolute;
  height: auto;
  width: auto;
  bottom: 2%;
  -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68); 
  box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68);
  background: #22222285; 
}

@media screen and (max-width: 480px) {
  .fotorama__caption__wrap {
    display: none !important
  }
} 

.fotorama__nav--thumbs {
    background: rgb(144,144,144);
    background: linear-gradient(0deg, rgba(144,144,144,1) 0%, rgba(249,249,249,1) 91%);
  } 


/*------------------ leaflet ------------------------------*/
.leaf_pup_img {
  min-width: 100px !important;
}

.boxmap {
  border-top: 1px solid lightslategray; 
  padding: 5px 5px 5px 5px; 
}

#boxmap0 {
 overflow: hidden;
}

[id^="map"] {
  width: 100%;
  aspect-ratio: 1.5; /* TODO: connect to a setting or find a better solution */
  height: auto;
}

.fm-dload {
  margin-bottom: 15px;
}

.fm-dload p {
  margin: 5px;
}

.data-summary {
  /*font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* position: absolute;
    bottom: 765px; 
  top: 451px;
  right: 25px; 
  background: lightgrey;
  border: solid;
  border-color: black;
  border-width: 1px;
  border:inset;*/
  left: 3px;
  right: 3px;
  padding-left: 5px;
  margin-top: -15px;
  margin-bottom: 1px;
  border-bottom: 1px solid lightslategray;
}

.data-summary .summaryvalue {
    font-weight: bold;
  }

.martin-theme.elevation-control.elevation .background {
  background-color:  rgba(144,144,144,1) 0%;
  background:   linear-gradient(0deg, rgba(249,249,249,1) 40%, rgba(58, 120, 255, 0.87) 100%);
  /*background: linear-gradient(0deg,   rgba(144,144,144,1) 0%,   rgba(249,249,249,1) 91%);*/
  }

.martin-theme.elevation-control.elevation .axis line,.martin-theme.elevation-control.elevation .axis path {
      stroke: #0d1821
  }

.martin-theme.elevation-control.elevation .mouse-drag {
      fill: rgba(23,74,117,.4)
  }

.martin-theme.elevation-control.elevation .elevation-toggle-icon {
      background: url(../images/elevation-martin.svg) no-repeat 50%
  }

.martin-theme.elevation-control.elevation .area {
      fill: #cd8954;
  }

.martin-theme.elevation-control.elevation .mouse-focus-line {
      stroke: #0d1821
  }

.martin-theme.height-focus {
      stroke: #000;
      fill: #c21010;
  }

.martin-theme.elevation-polyline {
      stroke: #0040ff
  }