.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 5px !important; /* changed */
}

.leaflet-popup-content {
	margin: 3px 3px 3px 3px !important; /* changed */
	line-height: 1.3;
	font-size: 13px;
	font-size: 1.08333em;
	min-height: 1px;
}