.fmmm_container {
    position: relative;
}

.fmmm-masonry-image {
    max-width: 100%;
    max-height: 100%;
}

.fmmm-masonry-image:hover {
    filter: contrast(130%) brightness(1.1);
    transition: all ease 0.5s; /*1s ease-in;*/
    transform: scale(1.03);
  }

.masonry-caption > .masonry-title {
    margin: 10px;
    text-align: left;
    font-size: 1.1em;
}

.masonry-caption > .masonry-date {
    margin-left: 10px;
    font-size: 0.9em;
    font-style: italic;
}

.fmmm_container .item {
    position: absolute;
    text-align: left;
    color: black;
    line-height: 1em;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background: rgb(218, 214, 214);
    overflow: hidden;
}

.masonry-dialog-open {  
    position: absolute;
    bottom: 10px;
    right: 10px;
    /*background: black;
    color: white !important;
    padding-left: 5px;
    font-family: serif;
    font-style: italic;
    */
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
    
    cursor: pointer;
}

.masonry-dialog-close {
  float: right;
  width: 1.5rem;
  /*
  line-height: 1.5rem;
  text-align: center;
  background-color: lightgray;
  */
  cursor: pointer;
  border-radius: 0.25rem;
  margin-right: -10px;
  margin-left: 10px;
}