.swiper {
  margin-left: auto;
  margin-right: auto;
}

.myswiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #DEDEDE;
  overflow: hidden;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.myswiper .swiper-slide img {
  /*display: none;*/
  width: 100%;
  height: 100%;
  /*object-fit: cover;  /*change to contain or use parameter*/
}

.myswiper .swiper-slide video {
  width: 100%;
  height: inherit;
  cursor: default;
}

.myswiper .swiper-zoom-container img {
  cursor: zoom-in;
}

.swiper-slide-title {
  color: white;
  z-index: 20;
  position: absolute;
  height: auto;
  width: auto;
  bottom: 1%;
  left: 0.1%;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68); 
  box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68);
  background: #22222285;
  text-align: left;
  opacity: 1;
}

.swiper-slide-title:hover {
  opacity:1.0;
  bottom: 1%;
  transition: 0.1s ease all;
}

.swiper-slide-title p {
  margin: 0px !important;
  font-size: smaller;
}

@media screen and (max-width: 480px) {
  .swiper-slide-title p {
    font-size: small;
  }
}

.swiper-video-caption {
  position: absolute;
  bottom: 0%;
  color: white;
  font-size: small;
}

.myswiper {
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68); 
  box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68);
  background: rgba(0,0,0,0.68);
}

.myswiper2 {
  white-space: nowrap;
	overflow: hidden;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 2px;
  height: 100px;
  /*background: rgb(144,144,144);
  background: linear-gradient(0deg, rgba(144,144,144,1) 0%, rgba(249,249,249,1) 91%);*/
}

.myswiper2 .swiper-slide .swiper-wrapper {
  display: inline-block !important;
	flex-wrap: nowrap;
	overflow: hidden;

  /* Center slide text vertically 
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.myswiper2 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover !important; /*cover or contaion or use parameter*/
}

.myswiper2 .swiper-slide-thumb-active {
  opacity: 1;
  border-width: 2px;
  border-color: red;
  border-style: inset;
  box-sizing: border-box;
}

.myswiper2 .swiper-slide-thumb-active img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.swiper-pagination {
  position: inherit;
}

.swiper-button-prev, .swiper-button-next {
  color: white; 
}

.swiper-attach-link {
    /* margin-bottom: 10px; */
    position: absolute;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff;
    box-shadow: 1px 3px 14px 0rgb(0 0 0 / 68%);
    background: #22222280;
    border-radius: 4px;
    top: 1%;
    left: 1%;
}

.button-fslightbox {
  content: url('../css/icon-fullscreen-white.png') !important;
  z-index: 20;
  position: absolute;
  height: auto;
  width: auto;
  top: 1%;
  right: 1%;
  padding-left: 5px;
  padding-right: 5px; 
  background: #22222280;
  border-radius: 4px;
}

.button-fslightbox:hover, .swiper-attach-link:hover {
-webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68); 
box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.68);
background: #22222285;
}