<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" 
	bootstrap="./tests/phpunit/bootstrap.php" 
	backupGlobals="true" 
	colors="true" 
	convertErrorsToExceptions="true" 
	convertNoticesToExceptions="true" 
	convertWarningsToExceptions="true" 
	beStrictAboutTestsThatDoNotTestAnything="false"
	verbose="true" >
	<coverage pathCoverage='false'>
		<include>
			<directory suffix=".php">./tests/src/</directory>
			<!--file>C:\Bitnami\wordpress-5.2.2-0\apps\wordpress\htdocs\wp-content\plugins\fotorama_multi\inc\readImageFolder.php</file-->
			<file>C:\Bitnami\wordpress-5.2.2-0\apps\wordpress\htdocs\wp-content\plugins\fotorama_multi\inc\extractMetadata.php</file>
		</include>
	</coverage>
	<testsuites>
		<testsuite name="My Unit-Test 1">
			<directory suffix=".php">./tests/phpunit/testcases</directory>
		</testsuite>
	</testsuites>
</phpunit>