<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" 
	bootstrap="bootstrap.php" 
	backupGlobals="true" 
	colors="true" 
	convertErrorsToExceptions="true" 
	convertNoticesToExceptions="true" 
	convertWarningsToExceptions="true" 
	beStrictAboutTestsThatDoNotTestAnything="false"
	verbose="true" >
	<coverage pathCoverage='false'>
		<include>
			<directory suffix=".php">./tests/src/</directory>
			<file>./inc/readImageFolder.php</file>
			<file>./inc/extractMetadata.php</file>
			<file>./inc/admin_settings.php</file>
			<file>./inc/stateTransitions.php</file>
			<file>./inc/fm_functions.php</file>
		
		</include>
	</coverage>
	<testsuites>
		<testsuite name="My Unit-Test 1">
			<directory suffix=".php">./testcases</directory>
		</testsuite>
	</testsuites>
</phpunit>